//body css
@include spacing($zero,$zero);
body{
    background-color: $color-blue;
    margin: $margin;
    padding: $padding;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 2px;
  }
  
  /* make images flexible */
  img {
    max-width: 100%;
  }
  a {
    color:$color-brown;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid $color-orange;
  }
  
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav a {
    color: $color-white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: $color-orange;
  }
  /* establishes a white background */
  
  .main-bkgd {
    background:$color-white url("/media/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  article {
    flex-basis: 73%;
  }
  figure {
    margin: 3rem 0 0 0;
    flex-basis: 25%;
    background-color:$color-brown;
    border-radius: 10px;
  }
  figure img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  figcaption {
    color: $color-white;
    padding: 0.5rem;
  }
  .button {
    display: inline-block;
    background-color:$color-brown;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: $color-white;
    text-decoration: none;
    border: 3px solid $color-brown;
  }
  .button:hover {
    background-color: $color-white;
    color: $color-brown;
  }
  footer {
    color: $color-white;
    text-align: center;
    border-top: 10px solid $color-orange;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .fa:hover{
    opacity:0.7;
  }
  footer a {
    color: $color-white;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }